.menu {
    list-style: none;
    display: flex;
    align-items: center;
}
.menu-close,
.menu-open {
    color: #fff;
    font-size: 3.4rem;
    cursor: pointer;
    display: none;
}
.menu-open {
    position: relative;
    left: 20px;
}
.menu--active ~ .menu-open {
    display: none;
}
.menu-close {
    position: absolute;
    top: 12px;
    right: 10px;
}

.menu-item + .menu-item {
    margin: 0 0 0 24px;
}
.menu-link {
    color: #f7f7f7;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    position: relative;
    padding-bottom: 4px;
}
.menu-link:hover::before {
    opacity: 1;
}
.menu-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #aefeff;
    opacity: 0;
    transition: all 0.2s linear;
}
.menu-auth {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 12px;
    align-items: center;
    padding-left: 12px;
}

@media screen and (max-width: 860px) {
    .menu {
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        background-color: #0f0e0e;
        height: 100%;
        padding: 0 28px;
        transform: translateX(310px);
        transition: all 0.4s ease-in-out;
        justify-content: center;
        overflow: hidden;
    }
    .menu--active {
        transform: translate(0);
    }
    .menu-open {
        display: block;
    }
    .menu-close {
        display: block;
    }
    .menu-auth {
        padding-left: 0;
        padding-top: 34px;
    }
    .menu-item + .menu-item {
        margin: 24px 0 0 0;
    }
}
