.footer {
    width: 100%;
    padding: 40px 0;
    background-color: $gray-dark;
    position: relative;
    & .container {
        color: #fff;
        height: 100%;
    }
    &-contact-list {
        margin-bottom: 60px;
    }
    &-contact-item {
        display: flex;
        align-items: center;
        width: fit-content;
        font-size: 1.4rem;
        &:hover {
            opacity: 0.6;
        }
        & a {
            margin-left: 8px;
            color: inherit;
            text-decoration: none;
        }
        &:not(:first-child) {
            margin-top: 8px;
        }
    }
    &-copyright {
        position: absolute;
        bottom: 20px;
        right: 20px;
        font-size: 1.2rem;
        font-style: italic;
    }
}
