.signup {
    &-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &-heading {
        text-align: center;
        margin-bottom: 24px;
    }
    &-form {
        max-width: 480px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & .form-group {
            width: 100%;
            margin-top: 18px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            & label {
                font-size: 1.6rem;
                display: block;
                margin-bottom: 6px;
            }
            & input {
                width: 100%;
                height: 40px;
                padding: 0 12px;
                border-radius: 4px;
                border: 2px solid #dbdbdb;
                outline: none;
                font-size: 1.6rem;
                transition: all 0.2s linear;
                &:focus {
                    border-color: $green-300;
                }
            }
        }
        & button {
            margin-top: 20px;
            font-size: 1.6rem;
            padding: 12px 64px;
            border: none;
            border-radius: 8px;
            background-color: $green-400;
            color: white;
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}
